.App{
 min-height:100vh;
 display: flex;
 align-items: center;
 justify-content: center;
 flex-direction: column;
 background: rgb(168, 181, 206);
}

/* .tweet{
  border: 1px solid black;
  height: 300px;
  width: 300px;
  border-radius: 5px;
  background-color: whitesmoke;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  padding: 5px;
  margin: 5px;
}

.btns{
  display: flex;
  justify-content: center;
  flex-direction: row;
} */